* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: lexend;
  src: url("lexend.ttf");
  
}
@font-face {
  font-family: Montserrat;
  src: url("Montserrat.ttf");
  
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Montserrat;
  
}
nav{
  height: 8%;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);

}
nav .left{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  font-size: 30px;
  font-weight:600;
  padding-left: 20px;
}
nav .mid{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
}
nav button{
  margin-right: 20px;

}

nav .right .btn{
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.top{
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.abtHrzn{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 30px;
  border-radius: 20px;
  padding: 7px;
  border: 1px rgb(189, 189, 189) solid;
  margin-left: 40px;
}
.top .right{
  font-size: 18px;
  width: 60%;
  border-radius: 20px;
  padding: 7px;
  line-height: 30px;
  text-align:initial;
}


.cards{
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 50%;
  width: 100%;
  margin-bottom: 50px;

  /* gap: 50px; */
  /* margin-left: 40px; */
  /* right: 80px; */

}

.card1{
  background-color: #0D1A2D;
  height: 100%;
  border-radius: 30px;
  color: white;
  width: 25%;
  line-height: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card1 span{
  color: rgb(157, 157, 157);
}
.sqr{
  height: 40px;
  width: 40px;
  object-fit: cover;
  /* background-color: black; */
  position: relative;
}
.sqr img{
  position: absolute;
  border-radius: 0;
}
.btnn{
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}
.txt{
  padding-bottom: 10px;
}
.toggle{
  width: 20%;
  height: 20px;
  /* text-align: end;  */
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 18px;
  padding-top: 1px;
  justify-content: end;
  padding-right: 4px;
  color: white;
  background-color: rgb(92, 204, 248);
  border-radius: 20px;
}
.card2{
  border-radius: 30px;
  display: flex;
  height: 100%;
  width: 25%;
  background-color: #1f65cd;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* width: 100%; */  
  position: relative;
}
/* .privatebtn{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 25%;
  
  } */
  img{
    border-radius: 30px;
    background-color: #F7F8FC;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  #pvtlsn{
    border-radius: 20px;
    padding: 10px;
    height: 40px;
    opacity: 99%;
    /* filter: blur(6px); */
    background-color: rgba(255,255,255,0.61);
    /* backdrop-filter: blur(12px); */
    /* text-decoration: 30%; */
    border: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #pvtlsn p{
    color: rgb(240, 240, 240);
    opacity: 100%;
    font-weight: 600;
  
}
.card3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  background-color: #F7F8FC;
  padding: 20px;
  border-radius: 30px;
  
}
.card3 p:nth-child(1){
  font-size: 70px;
  
}
.card3 p:nth-child(2){
  font-size: 18px;
  margin-top: 8px;
}
.card3 p:nth-child(3){
  font-weight: 200;
  margin-top: 8px;
  line-height: 20px;
}

.rate{
  /* font-size: 5px; */
  display: flex;
  flex-direction: column;
}
.star1{
  /* margin: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.star2{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.star3{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.star1 p:nth-child(1){
  font-size: 14px;
  display: flex;
  /* flex-direction: row; */
}
.star1 p:nth-child(2){
  font-size: 7px;
  display: flex;
  margin-left: 20px;
  padding-bottom: 8px;
  /* flex-direction: row; */
  
}
.star1 p:nth-child(3){
  font-size: 14px;
  display: flex;
  padding-bottom: 8px;
  /* flex-direction: row; */
}
.star2 p:nth-child(1){
  font-size: 14px;
  display: flex;
  /* flex-direction: row; */
}
.star2 p:nth-child(2){
  font-size: 7px;
  padding-bottom: 8px;
  display: flex;
  margin-left: -26px;
  /* flex-direction: row; */
}
.star2 p:nth-child(3){
  font-size: 14px;
  display: flex;
  padding-bottom: 8px;
  /* flex-direction: row; */
}
.star3 p:nth-child(1){
  font-size: 14px;
  display: flex;
  /* flex-direction: row; */
  
}
.star3 p:nth-child(2){
  padding-bottom: 8px;
  font-size: 7px;
  display: flex;
  margin-left: -15px;
  /* flex-direction: row; */
  
}
.star3 p:nth-child(3){
  padding-bottom: 8px;
  font-size: 14px;
  display: flex;
  /* flex-direction: row; */
  
}


.bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
}
#pi{
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}


.tab1 .tab2 .tab3 .tab4{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 22%;
  justify-content: center;
}

/* .tab1{
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 22%;
} */
.tab1 p:nth-child(1){
  font-size: 30px;
  text-align: center;
}
.tab1 p:nth-child(2){
  font-size: 12px;
  color: grey;
}


/* .tab2{
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 22%;
} */
.tab2 p:nth-child(1){
  text-align: center;
  font-size: 30px;
}
.tab2 p:nth-child(2){
  font-size: 12px;
  color: grey;
}


/* .tab3{
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 22%;
  } */
  .tab3 p:nth-child(1){
  text-align: center;
  font-size: 30px;
}
.tab3 p:nth-child(2){
  font-size: 12px;
  color: grey;
}
.tab4 p:nth-child(1){
  text-align: center;
  font-size: 30px;
}
.tab4 p:nth-child(2){
  font-size: 12px;
  color: grey;
}